%h1 Listing runs

%table
  %thead
    %tr
      %th Jumps
      %th
      %th
      %th

  %tbody
    - @runs.each do |run|
      %tr
        %td= run.jumps
        %td= link_to 'Show', run
        %td= link_to 'Edit', edit_run_path(run)
        %td= link_to 'Destroy', run, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Run', new_run_path
